.navbar{

    background-color: #3299a8;
    color: #fff
    
}


.navbar-menu {

    display: flex;
    list-style: none;
    margin-bottom: 0px;

}
.text-title {

    font-size: 25px;
    font-weight: 600;
    color: #fff
}
a{
    padding:0!important;
    color:#fff!important;
}
.navbar-item {

    padding: 20px!important;
    cursor: pointer;
    color: #fff!important;
    background-color:#3299a8!important ;
    
    
}
.navbar-item:hover{

    background-color:#fff!important ;
    border-radius: 5px;
    color:#3299a8!important;


}
.navbar-item-home{

    background-color:#fff ;
    border-radius: 5px;
    color:#3299a8!important;
    margin-right:60px;

}

.navbar-item-home:hover{

    background-color:black ;
    
    color:#fff!important;
    

}